<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zxfdwka.bestcountrymusic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="com.zxfdwka.bestcountrymusic.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".mp3.activity.PlayListNowActivity"
            android:exported="false" />
        <activity
            android:name=".mp3.activity.FavoriteActivity"
            android:exported="false" />
        <activity
            android:name=".BaseFavoriteActivity"
            android:exported="false" />
        <activity
            android:name=".ringtone.Activity.BaseCategoriesActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mp3.activity.SplashActivity" />
        <activity
            android:name=".mp3.activity.LoginActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".mp3.activity.MainActivity"
            android:label="@string/title_activity_main"
            android:windowSoftInputMode="adjustPan|adjustNothing" />
        <activity android:name=".mp3.activity.BaseActivity" />
        <activity
            android:name=".mp3.activity.RegisterActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".mp3.activity.ForgotPasswordActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".mp3.activity.ProfileActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing" />
        <activity
            android:name=".mp3.activity.ProfileEditActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".mp3.activity.ReportActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing" />
        <activity
            android:name=".mp3.activity.SuggestionActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing" />
        <activity
            android:name=".mp3.activity.SongByCatActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing" />
        <activity
            android:name=".mp3.activity.SongByServerPlaylistActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing" />
        <activity
            android:name=".mp3.activity.SongByMyPlaylistActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing" />
        <activity
            android:name=".mp3.activity.SongByOfflineActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing" />
        <activity
            android:name=".mp3.activity.SongByOFFPlaylistActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing" />
        <activity
            android:name=".mp3.activity.Add2OfflinePlaylistActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing" />

        <activity
            android:name=".mp3.activity.SettingActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing" />
        <activity
            android:name=".mp3.activity.AboutActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing" />
        <activity
            android:name=".mp3.activity.OfflineMusicActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustNothing"/>
        <activity
            android:name=".mp3.activity.SelectSongActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing" />
        <activity
            android:name=".mp3.activity.ArtistByGenreActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing" />
        <activity
            android:name=".mp3.activity.MiniPlayer"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/Theme.MiniPlayer"
            android:windowSoftInputMode="adjustPan|adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.APP_MUSIC" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>

        <activity android:name="com.zxfdwka.bestcountrymusic.radio.activity.RadioBaseActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name="com.zxfdwka.bestcountrymusic.mp3.activity.PlayerService"
            android:exported="false" />

        <service android:name="com.zxfdwka.bestcountrymusic.radio.utils.PlayService"
            android:exported="false"/>

        <service
            android:name=".mp3.utils.NotificationExtenderExample"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>
        <service
            android:name="com.zxfdwka.bestcountrymusic.mp3.activity.DownloadService"
            android:exported="false" />

        <receiver android:name=".mp3.utils.MediaButtonIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".ringtone.Activity.SplashActivity" />
        <activity android:name=".ringtone.Activity.CategoriesActivity" />
        <activity android:name=".ringtone.Activity.DownloadActivity" />
        <activity android:name=".ringtone.Activity.FavouriteActivity" />
        <activity android:name=".ringtone.Activity.intActivity" />
        <activity android:name=".ringtone.Activity.MainActivity" />
        <activity android:name=".ringtone.Activity.SearchActivity" />
        <activity android:name=".ringtone.Activity.UploadRingtoneActivity" />
        <activity android:name=".ringtone.Activity.UserActivity" />
        <activity android:name=".ringtone.Login.LoginActivity" />
        <activity android:name=".ringtone.Login.RegisterActivity" />
    </application>

</manifest>